@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/**/
html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 3px solid #ccc;
    padding: 0;
}

header {
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    float: right;
    position: relative;
    width: 30%;
    height: 30%;
    background: white;
}

header > h1 {
    margin-left: 25px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
}


.horizontal_divider {
    border-color: #c7c7c7;
    color: #c7c7c7;
    height: 5px;
    width: 100%;
}

.vertical_divider {
    flex: 0 0 3px;
    height: 100%;
    border-left: 3px solid #5D6683;
}

#main_container {
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}


#visualization_container {
    position: relative;
    flex-basis: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: grab;
}


/* unvisited link */
a:link, a:visited, a:hover, a:active {
    color: #267CB9;
}


#url_p {
    display: block;
    margin-top: 2em;
    margin-bottom: 10em;
    /*margin-left: 0.5em;*/
    margin-right: 0.5em;
}

#insights_container {
    position: relative;
    flex-basis: 30%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 15px;
    touch-action: none;
}


.reduction_container {
    position: relative;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}



#bar_container {
    position: relative;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    padding: 15px;
}

#cluster_container {
    display: flex;
    align-items: center;
}

#cluster_container h4 {
    margin-right: -3.5px;
}

#cluster_container p {
    margin-right: 1rem;
    /* Center the text vertically in the flex container */
    display: flex;
    align-items: center;
    justify-content: center;
}

#reduction_container {
    display: flex;
    align-items: center;
}

#reduction_container h4 {
    margin-right: 1rem;
}


#topics {
    position: relative;
    /*box-sizing: border-box;*/
    width: 100%;
    height: 80%;
}

#bar_chart {
    width: 100%;
    height: 100%;
    /*viewBox:    "0 0 2287 1276";*/
}

.bar {
    cursor: pointer;
}

#slider {
    /* Set the height of the slider element */
    height: 90px
}

#selectButton {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100px;
    height: 40px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: #555;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    /*appearance: none;*/
    outline: none;
}

#selectButton::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%) rotate(45deg);
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

#selectButton option {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #555;
    background-color: #fff;
}

#zoom_buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

#zoom_buttons button {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}




