
html, body {
    height: 100%;
    overflow: hidden;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 3px solid #ccc;
    padding: 0;
}

header {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1.5px solid rgba(0,0,0,0.5);
}
.header img {
    float: right;
    position: relative;
    width: 30%;
    height: 30%;
    background: white;
}

header > h1 {
    margin-left: 25px;
    cursor: pointer;
    text-align: center;
}
.horizontal_divider {
    border-color: #5D6683;
    color: #5D6683;
    heighst: 5px;
    width: 100%;
}

.vertical_divider {
    flex: 0 0 3px;
    height: 100%;
    border-left: 3px solid #5D6683;
}

#main_container {
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #5D6683;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #CF0133;
    color: white;
}

#visualization_container{
    flex-basis: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.State_chart{
    flex-basis: 70%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}
#explanation_and_results_main_container{
    position: relative;
    flex-basis: 30%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    touch-action: none;
}

.text_container{
    position: relative;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}
.tooltip {
    flex-basis: 30%;
    width: 100%;
    padding: 0px;
    /*font: 12px sans-serif;*/
}





    /* unvisited link */
a:link,a:visited,a:hover,a:active {
    color: #267CB9;
}


/*#test{*/
/*    font-size: 20px;*/
/*}*/

/*.tooltip {*/
/*    flex-basis: 55%;*/
/*    width: 100%;*/
/*    padding: 0px;*/
/*    font: 12px sans-serif;*/
/*}*/


#visualization_and_stats_container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#visualization_container{
    width: 100%;
    height: 99%;
    /*display: flex;*/
    /*flex-direction: row;*/
}

#stats_url_container{
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: row;
}
#stats_container{
    width: 45%;
    height: 1%;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#url_container{
    width: 55%;
    height: 100%;
    overflow-y: scroll;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#url_p{
    display: block;
    margin-top: 2em;
    margin-bottom: 10em;
    /*margin-left: 0.5em;*/
    margin-right: 0.5em;
}

#explanation_and_results_main_container{
    position: relative;
    flex-basis: 30%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    touch-action: none;
}

.text_container{
    position: relative;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}
#legend_container{
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}


#vis{
    width: 100%;
    height: 50%;
    viewBox:    "0 0 2287 1276";
}

#legend{
    width: 100%;
    height: 150px;
    /*viewBox:    "0 0 2287 1276";*/
}


.tooltip {
    flex-basis: 30%;
    width: 100%;
    padding: 0px;
    /*font: 12px sans-serif;*/
}

.tooltip_bg {
    position: absolute;
    background-color: white;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    padding: 0px;
}
.tooltip_text {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    padding: 0.5em;
}



