#legend {
    margin: .5em;
}

#legend ul {
    display: inline;
    padding-left: 1em;
}

#legend li {
    display: inline-block;
    margin-right: 1em;
}

#legend li::before {
    display: inline-block;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    content: '';
    color: var(--fa-primary-color);
    background-color: currentColor;
    margin-right: .2em;
}

.d-bubble {
    max-width: 300px;
    width: auto;
}

.d-bubble .d-info ul {
    padding: 0;
    margin: 1em;
}

.d-bubble img {
    display: block;
    margin-bottom: 10px;
}

/*
 * jQuery-UI autocomplete
 */
.ui-autocomplete {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-match {
    color: #d01010 ;/* #267CB9;*/
    font-weight: bold;
}

.ui-source {
    font-weight: bold;
}

.ui-meta {
    float: right;
}

#search-source {
    margin-bottom: .5em;
}
