#legend {
    margin: .5em;
}

#legend ul {
    display: inline;
    padding-left: 1em;
}

#legend li {
    display: inline-block;
    margin-right: 1em;
}

#legend li::before {
    display: inline-block;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    content: '';
    color: var(--fa-primary-color);
    background-color: currentColor;
    margin-right: .2em;
}

.d-bubble .d-info ul {
    padding-left: 1em;
}
